<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h1 class='text-left'>Item Administration - Edit <%= @item.name %></h1>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'form', locals: {path: admin_item_path, html_method: :patch} %>
