<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h1 class='text-left'>Create New Item</h1>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'form', locals: {html_method: :get} %>
