<div class="panel-heading text-center">
  Shipping Address
</div>
<div class="panel-body">
  <table class="table">
    <tr>
      <td class="text-right">Address:</td><td><%= @user.street %></td>
    </tr>
  <tr>
      <td class="text-right">city:</td><td><%= @user.city %></td>
  </tr>
  <tr>
      <td class="text-right">state:</td><td><%= @user.state %></td>
  </tr>
  <tr>
      <td class="text-right">zipcode:</td><td><%= @user.zip %></td>
  </tr>
  </table>
</div>
