<% if session[:user] %>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h1>Please Log out before making a new Account</h1>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class='row'>
  <div class='col-md-6 col-centered'>
    <div class='panel'>
      <div class='panel-body'>
        <h1>Account Creation</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'signup_form' %>

<% end %>
