<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Account Information</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Username: <%= current_user.user_name %></h2>
        <h2>Email: <%= current_user.email %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Past Orders:
      </div>
      <div class="panel-body">
        <% if @orders.count > 0 %>
          <%= render partial: "order", collection: @orders %>
        <% else %>
          This account has no order history.
        <% end %>
      </div>
    </div>
  </div>
</div>
