<%= render 'layouts/header' %>
<div class='row'>
<div class='col-md-5'>
  <div class='panel panel-default'>
    <div class='panel-heading'>Pick a Joke</div>
      <div class='panel-body'>
        <div class='list-group'>
        <%= render @jokes %>
        </div>

        <div class="text-center">
          <%= button_to "Pick a random joke for me!", sessions_path(joke_id: @joke), method: :patch %>
          <%= link_to "See all Jokes", jokes_path %>
        </div>
    </div>
  </div>

</div>

</div>
