<table class='table'>
  <tr><th>Item</th><th>Quantity</th><th>Price</th></tr><br>
    <% @grand_total = 0 %>
    <% @cart_items.each do |cart_item| %>
      <% item = Cart_item.new(*cart_item) %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity%></td>
        <td><span class='price'>$<%= number_with_delimiter(item.price, :delimiter => ',') %></span></td>
        <% @grand_total += item.total %>
      </tr>
    <% end %>
<hr>
<tfoot>
  <td> Total: </td> <td> </td> <td> <span class='price'>  $<%= number_with_delimiter(@grand_total, :delimiter => ',') %></span> </td>
</tfoot>

</table>

