<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h1>All Products</h1>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <%= render @items %>
</div>
