<h1><%= @item.name %></h1>
<hr>

<div class="col-md-4 text-center">
  <%= render @item %>
</div>
<div class="col-md-6 summary">
  <p>What makes this the most important product for you to order RIGHT NOW?</p>
  <p><%= @item.description %></p>
</div>
