// fonts

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);


.navbar {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background: image-url("goofy-dad-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// general stuff

.col-centered{
    float: none;
    margin: 0 auto;
}

.item-title {
  font-size: 1.5em;
}

.flash-notice {
  color: green;
}

.panel-body h1 {
  font-weight: 900;
}
.dad-testamonial {
  font-style: italic;
}

// HEADER STUFF
.dad-header {
  height: 60vh;
  text-align: center;
}

.dad-header h1 {
  color: #ffffff;
  font-size: 5.2em;
  font-family: 'Slabo 27px', serif;
  font-weight: 1000;
  position: relative;
  top: 15%;

}
.dad-header h3 {
  border-bottom: 0px;
  color: #ffffff;
  font-size: 2.2em;
  font-family: 'Slabo 27px', serif;
  font-weight: 1000;
  position: relative;
  top: 15%;
}

.dad-nav-spacer {
  height: 200px;
}

//current joke stuff

.dad-current-joke {
  height: 10px;
  margin-bottom: 0px;
  text-align: center;
  padding: 2px;

}

//joke listing stuff

.dad-joke-lead {


}

.dad-joke-punchline {
  text-align: right;

}

// cart stuff

.cart-row img {
  max-height: 40px;
}

.dad-quantity {
  width: 15%;
  display: inline;
}

.dad-item-joke-separator {
  border-bottom: solid 1px;
}

// item stuff

.add_to_cart_button {
  margin: 5px;

}

.price {
  font-size: 1.5em;
}

// dashboard stuff

.dad-invoice-heading h3 {
  padding-top: 20px;
  padding-bottom: 5px;
  border-top: solid 1px;
  border-bottom: none;

}

.dad-invoice-heading {

}
