<div class="col-md-4 text-center">
  <div class="dad-item panel panel-default">
    <div class="panel-body">
      <%= render partial: "partials/link_summary", locals: {summary: category} %><br>
    </div>
  </div>
</div>
