<div class="row well">
  <div class="joke-list joke-lead"><%= joke.lead %></div>
  <div class="joke-list joke-punchline"><%= joke.punchline %></div>
  <div class="joke-list text-right"><%= button_to "Select Joke", session_path(joke_id: @joke) %></div>
</div>
