<%= link_to raw("<div>#{joke.lead}</div> <div>#{joke.punchline}</div>"), sessions_path(joke_id: joke.id), class: "list-group-item", method: :patch %>

<%# <a class="list-group-item"> %>
<%#   <button class.. %>
<%#   <div class="joke-list joke-lead"><%= joke.lead %1></div> %>
<%#   <div class="joke-list joke-punchline"><%= joke.punchline %1></div> %>
<%#   <div class="joke-list text-right"><%= button_to "Select Joke", sessions_path(joke_id: joke.id) %1></div> %>
<%# </a> %>


<%# <form class="button_to" method="post" action="/session?joke_id=12"><input type="submit" value="Select Joke"><input type="hidden" name="authenticity_token" value="J3/FIItRx9UfGAP4/h2CdBRTHMw4vEkiRhLwC0f1Jy9mhra/Qi4+Owjby1AMVrneSgHUkpqCtBhlLzLGCGDJ7g=="></form> %>
