<h1>Joke List</h1>

<% @jokes.each do |joke| %>
  <li><%= joke.lead %></li>
  <%= "....#{joke.punchline}" %><br>
  <%= button_to "Use this joke!", 'jokes/current_joke' method: :current_joke %>
  <br><br>
<% end %>
