<h1>Joke List</h1>
<hr>

<div class='col-md-10 col-centered'>
<table class='table table-striped'>
<% @jokes.each do |joke| %>
<tr>
  <td><%= joke.lead %>
  <%= "....#{joke.punchline}" %> <span style="float:right;"><%= button_to "Select Joke", session_path(joke_id: joke) %><span></td>
  </tr>
<% end %>
<table>
</div>
