<div class='dad-header'>

  <div class='hit-me-response'><h1>Dad Jokes For Days</h1></div>
  <%= form_for :ajax_joke, url: "/ajax-joke", remote: true do |f| %>
    <%= f.submit "Hit Me!", class: "btn btn-primary" %>
  <% end %>
</div>
