<div class="container well">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="joke joke-header">Current hilarious Dad Joke</div><br>
      <div class="joke joke-lead"><%= current_joke.lead %></div>
      <div class="joke joke-punchline"><%= current_joke.punchline %></div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
